td.bs_szeit {
    min-width: 80px!important;
}


table {
    margin-top: 25px!important;
    margin-bottom: 25px!important;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15)!important;
    border-radius: 1rem!important;
}


table tr th {
    background-color: #009879!important;
    color: #ffffff!important;
    text-align: left!important;
    padding: 2px 8px!important;
}

table tbody tr {
    border-bottom: 1px solid #dddddd!important;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3!important;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #009879!important;
}

table tbody tr.active-row {
    font-weight: bold!important;
    color: #009879!important;
}
